.chatbot {
  font-family: ui-sans-serif,-apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica,Apple Color Emoji,Arial,Segoe UI Emoji,Segoe UI Symbol;
  border-radius: 10px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
  background: #f5f8fb;
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  padding: 20px;
  text-align: center;
  color: white;
  max-height: 58px;
  font-size: 16px;
  font-weight: bold;
  background-color: black;
}

.messages {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 2%!important;
}

.message-container {
  width: 100%;
  line-height: 150%;
}

.bot-message {
  float: left;
  padding: 2% 3%;
  margin: 5px;
  border-radius: 20px 20px 20px 1px;
  background: #fe2900;
  color: white;
  max-width: 60%;
  white-space: break-spaces;
  text-align: left;
}

.user-message {
  float: right;
  padding: 2% 3%;
  margin: 1%;
  border-radius: 20px 20px 1px 20px;
  background: #1E90FF;
  color: white;
  max-width: 60%;
  white-space: break-spaces;
  text-align: right;
}

.input {
  position: relative;
  border-top: 2px solid black;
  padding-top: 2%;
}

.input > form > input[type="text"] {
  font-size: 16px;
  padding: 1.5%;
  width: 90%;
}

